*{ /* сброс отступов*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body, html{ /* сокрытие контента, выходяжегоза пределы ширины экрана*/
    overflow-x: hidden;
}

/*-----------Header Панель навигации------------*/
nav{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
#checkbox-menu, .toggle{ /* сокрытие значка меню для десктопной версии */
    display: none;
}
.menu{ /* панель верхнего меню */
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row; /* направление элементов меню */
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a{ /* стилизация ссылок в меню */
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover{ /* стиль ссылок при наведении курсора */
    color: #00b8e4;
}
.menu li a.logo{ /*стилизация логотипа */
    font-size: 26px;
    margin-right: 240px;
    /* font-family: 'Rokkitt', serif;
    text-transform: uppercase;
    letter-spacing: 1px; */
}
.menu li a.contacts{ /* отделение двух правых пунктов меню*/
    margin-right: 100px;
}
.menu li a.active-tab{ /* подсвечивание активной вкладки меню*/
    color: #00b8e4;
}

/*-----Основное содержимое страницы-------- */
.wrapper{ /* контейнер для блоков на странице, задает центрирование и границы области*/
   margin: 0 auto;
   max-width: 1100px;
   width: 100%; 
}
/*----Секция Интро-----*/
.intro{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.intro-img{ /* приветственная картинка*/
    background-image: url('img/intro2.jpg');
    background-repeat: no-repeat;
    width: 965px;
    height: 640px;
}
.intro-text{ /* приветсвенный текст */
    position: absolute;
    font-size: 62px;
    color: #fff;
    right: 750px;
    top: 220px;
}
.intro-contacts{ /* контакты*/
    background-color: #00b8e4;
    max-width: 590px;
    position: absolute;
    right: 170px;
    top: 633px;
    display: flex; /* расположение рядом двух параграфов */
    justify-content: space-between;
    padding: 30px 50px;
}
.intro-contacts p{
    font-size: 18px;
    margin-right: 60px;
}
/*---Секция Статистика компании----*/
.stats{
    display: flex;
    margin-top: 130px;
}
.stats-line { /*расстановка в линию квадратов со статистикой */
    display: flex;
}
.stats-text{
    padding: 40px;
}
.stats-text h2{ /* заголовок*/
    font-size: 40px;
    margin-bottom: 70px;
}
.stats-text h2:first-child{
    margin-bottom: 0;
}
.stats-text p{ /* текст статистики*/
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}
.square{ /* стилизация квадратов со статистическими данными*/
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 30px;
    display: flex; /* расположение содержимого квадратов в одну колонку*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square{ /* стилизация цифр в квадрате*/
    font-size: 40px;
    color: #00b8e4;
    margin-bottom: 15px;
}
.square-text{ /* стилизация подписей в квадрате*/
    font-size: 14px;
}
/*----Секция Товары---*/
.products{
    background: #f6f5f4;
    padding: 60px 0;
}
.product h2{ /* стилизация заголовка*/
    margin-bottom: 85px;
    font-size: 40px;
}
.product h2:first-child{
    margin-bottom: 0;
}
.card{ /* создание карточки товара*/
    max-width: 348px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-container{ /* блок с информацией на карточке*/
    padding: 25px;
}
/*позиционирование и стилизация разных видов текста на карточке */
.card-info{ 
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card-info .money{
    font-size: 18px;
    color: #00b8e4;
}
.card-info span:first-child{
    margin-right: 18px;
}
.card:hover{ /* изменение стиля карточки при наведении курсора*/
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.cards{ /* расположение всех карточек на странице */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* на странице три колонки и две строки, ширина элементов равномерно распределена */
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px; /* отступы между элементами*/
    grid-row-gap: 30px;
}
.product input[type=text]{ /* стилизация строки поиска */
    margin-top: 50px;
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: #919eb1;
    /* font-style: italic; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.product input[type=submit]{ /* стилизация кнопки поиска */
    width: 115px;
    height: 50px;
    border: none;
    background: #00b8e4;
    color: #fff;
    font-size: 15px;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.all{ /* стилизация кнопки показа всего каталога */
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 52px;
    font-size: 15px;
}
.all:hover{ /* изменение кнопки при наведении курсора */
    background-color: #00b8e4;
    color: #fff;
}
.buttons-search{ /* изменение расположения элементов в блоке поиска*/
    display: flex;
}
/*----Секция Руководство для клиентов-----*/
.steps h2{ /*стилизация заголовка раздела */
    margin-top: 55px;
    font-size: 40px;
    margin-bottom: 35px;
}
.steps-text{ /* стилизация текста на странице*/
    line-height: 27px;
    font-size: 13px;
}
.mbtext{ /* отбивка после текста на странице перед карточками*/
    margin-bottom: 70px;
}
.stepblock{ /* стилизация карточки*/
    width: 340px;
    height: 370px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden; /* обрезка текста, выходящего за  пределы карточки*/
}
.stepblock .step-num{ /* смещение номера карточки*/
    font-size: 200px;
    position: relative;
    top: -120px;
    left: -30px;
}
.stepblock:hover{ /* изменение карточки при наведении курсора */
    background: #00b8e4;
    color: #fff;
}
.steps-container{ /* позиционирование всех блоков карточек горизонтально */
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.stepblock h4{ /* стилизация заголовка карточки */
    font-size: 14px;
    margin-left: 40px;
    margin-top: -100px;
    margin-bottom: 20px;
}
/*оформление текста на карточке */
.stepblock h4 span{
    margin-right: 15px;
}
.stepblock .step-info{
    margin-left: 70px;
    line-height: 29px;
}
.stepblock .stepinfolast{
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    border-bottom: 3px solid #000;
}
/* .stepblock .stepinfolast:hover{
    border-bottom: 3px solid #fff;
} */
/*----Секция Сервисы-----*/
.serv-container{ /* расположение блоков с изображениями и текстом в две колонки*/
    display: flex;
    margin-top: 70px;
}
/* .serv-img-container{
    width: 58%;
} */
.slideshow-container{ /* позиционирование блока со слайдами*/
    position: relative;
    width: 58%;
    margin: auto;
}
.services img{ /* размещение изображения на всю ширину блока слайдера*/
    width: 100%;
    height: auto;
}
.slideshow-container a.prev, a.next{ /* стилизация иконок переходов между слайдами*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #717171;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}
.next{ /*позиционирование правой иконки */
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{ /* изменение цвета иконок при наведении курсора */
    color: rgba(0,0,0,0.8);
}
.dot{ /* стилизация кружков, осуществлющих навигацию */
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.dot:hover{ /* изменение цвета кружка навигации при наведении курсора */
    background-color: #717171;
}
.active-dot{ /* выделение цветом кружка навигации для текущего слайда*/
    background-color: #717171;
}
.fade{ /* переход между слайдами*/
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{ /* эффект перехода при перелистовании слайдов*/
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
/* стилизация текста*/
.serv-text{
    width: 42%;
    margin-left: 3%;
}
.serv-text p{
    margin-bottom: 60px;
}
.services h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.services p{
    font-size: 13px;
    line-height: 30px;
}
.services h4{
    font-style: 25px;
    margin-bottom: 25px;
}
/*-----Секция Дилеры---- */
.dealers{
    background: #f6f5f4;
    padding-top: 60px;
    margin-bottom: 25px;
}
/* стилизация текста*/
.dealers h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.dealers p{
    font-size: 13px;
    line-height: 30px;
} 
.dealers p:nth-child(4){ /* отступ снизу для последнего параграфа*/
    margin-bottom: 60px;
}
.dealer-block{ /* расположение разных видов текста на карточке горизонтально*/
    display: flex;
    justify-content: space-between;
}
.dealer-card{ /* стилизация карточки*/
    max-width: 344px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.dealer-card:hover{ /* изменение тени карточки при наведении курсора*/
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.dealer-info{ /* позиционирование блока с текстом на карточке под изображением*/
    padding-top: 10px;
    padding-left: 25px;
}
.dealer-name{ 
    color: #00b8e4;
}
.dealer-cards{ /* расположение всех карточек в ряд*/
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}
/*----Секция Реклама-----*/
.add{ /*стилизация блока секции */
    padding-bottom: 100px;
    padding-top: 90px;
}
.add-line{ /* расположение элементов каждого блока в строку*/
    display: flex;
}
.model{ /* позиционирование блока с подписью на изображении*/
    font-size: 18px;
    padding: 30px 87px 35px 55px;
    background: #00b8e4;
    display: inline-block;
}
.model-left{ /* позиционирование подписи на первом товаре*/
    position: relative;
    left: 100px;
    bottom: 50px;
}
.model-right{ /* позиционирование подписи на втором товаре*/
    position: relative;
    left: 260px;
    bottom: 50px;
}
/* стилизация текста в секции*/
.add-line h3{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 130px;
}
.add-line p{
    font-size: 13px;
    line-height: 30px;
    margin-left: 130px;
}
.add-line-right p, .add-line-right h3{ /*позиционирование по правому краю текста, расположенного слева от изображения */
    margin-left: 0;
    margin-right: 130px;
}
/* .add-line h3:last-of-type{ /* выравнивание блока с текстом для нижнего товара
    margin-top: 25px;
} */
.show-more{ /* стилизация кнопки*/
    font-size: 18px;
    background: #1f373d;
    padding: 30px 70px 30px 55px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 60px;
    color: #fff;
    
}

/*-------Footer------- */
footer{
    background: #1f373d;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
}
.footer-block{ /* позиционирование элементов верхней части футера */
    display: flex;
    justify-content: space-between;
}
.footer-block h3{
    font-size: 40px;
}
.footer-search input[type=text]{ /*стилизация строки ввода */
    width: 442px;
    height: 70px;
    color: #919eb1;
    padding-left: 27px;
    font-size: 15px;
    background-image: url('img/arrow1.png');
    background-repeat: no-repeat;
    background-position: 94%;
}
hr{ /* стилизация линии*/
    opacity: 0.3;
    margin-top: 47px;
    margin-bottom: 70px;
}
.footer-links{ /* позиционирование блоков ссылок в ряд*/
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
}
.footer-link{ /* расположение ссылок в каждой колонке*/
    display: flex;
    flex-direction: column;
}
.footer-links-logo{ /* размещение логотипа справа от ссылок */
    font-size: 25px;
    margin-right: 26%;
}
.footer-link p{ /*стилизация названий разделов */
    text-transform: uppercase;
    font-size: 13px;
    color: #919eb1;
    margin-bottom: 35px;
}
.footer-link a{ /* стилизация ссылок*/
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 20px;
}
.footer-link a:hover{ /* изменение прозрачности ссылок при наведении курсора*/
    opacity: 0.4;
}





/* адаптирование экрана для ширины < 765px */
@media screen and (max-width: 765px) {
    /*-----Header, Панель навигации-------- */
    .toggle{ /* иконка меню*/
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #00b8e4;
        transition: all .1s linear;
    } /*изменение фона иконки при наведении курсора */
    .toggle:hover{
        background: #00a3cc;
    }
    #checkbox-menu:checked + label .touch li{/*создание открывающегося меню */
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch{/*высота открывающегося меню */
        height: 350px;
    }
    .menu{/*стилизация открывающегося меню */
        display: flex;
        flex-direction: column;/* расположение пунктов меню в одну колонку*/
        justify-content: space-around;
        align-items: center;
        height: 0; /* высота меню в закрытом состоянии*/
        transition: height .3s linear;
    }
    .menu li{ /*стилизация пунктов меню */
        display: flex;
        align-self: center;
        width: 100%;
        opacity: 0; /* сокрытие текста меню в закрытом состоянии*/
        visibility: hidden;
    }
    /*центрирование меню */
    .menu li a{ 
        width: 100%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo{
        font-size: 21px;
        margin-right: 0;
    }
    .menu li a.contacts{
        margin-right: 0;
    }

    /*------Основное содержимое страницы----- */
    /*----Секция Интро---- */
    .intro{
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img{ /*изменение расположения изображения */
        background-position: bottom 50px right 490px;
        background-repeat: no-repeat;
    }
    .intro .intro-text{ /* изменение позиционирования блока текста, учитывая раскрывающееся меню*/
        position: relative;
        font-size: 35px;
        right: -10px;
        top: 95px;

    }
    .intro .intro-contacts{/* изменение позиционирования блока с контактами, учитывая раскрывающееся меню*/
        right: 0;
        top: 451px;
        padding: 20px 10px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .intro-contacts p{
        font-size: 13px;
        padding: 0 30px;
        
    }
    /*----Секция Статистика---- */
    .stats{ /* изменение расположения всех элементов блока в одну колонку */
        margin-top: 0;
        flex-direction: column;
    }
    /* изменение стилей текста для мобильной версии */
    .stats-text{
        padding: 10px;
    }
    .stats-text h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .stats-text p{
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }
    .square{ /* изменение высты квадратов*/
        height: 140px;
    }
    /*----Секция Товары----- */
    .cards{ /* изменение расположения карточек товаров для мобильной версии*/
        grid-template-columns: repeat(1, 1fr); /* расположение карточек в одну колонку */
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        justify-items: center;
    }
    .product input[type=text]{ /* изменение стиля строки поиска*/
        margin-top: 20px;
        width: 200px;
    }
    .buttons-search{ /* расположение элементов посика в одну колонку*/
        flex-direction: column;
        margin-left: 4%;
    }
    .all{
        background: #fff;
        margin-top: 10px;
        margin-left: 0;
    }
    .product h2{
        font-size: 30px;
        margin-left: 5%;
        margin-bottom: 40px;
    }
    /*----Секция Руководство для клиентов----*/
    .steps-container{ /* расположение всех блоков в одну колонку */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stepblock{ /* изменение отсутпов между карточками */
        margin-top: 20px;
    }
    .steps-text, .steps h2{ /* измение отступов для текста*/
        margin-left: 5%;
        margin-bottom: 15px;
    }
    .steps h2{
        font-size: 30px;
    }
    /*----Секция Сервисы-----*/
    .serv-container{ /* изменение расположения всех элементов секции в колонку*/
        margin-top: 20px;
        flex-direction: column;
    }
    /* .serv-img-container{
        width: 100%;
    } */
    .slideshow-container{ /* изменение ширины контейнера со слайдами на всю ширину экрана*/
        width: 100%;
    }
    /* изменение текста на странице*/
    .services p{
        margin-left: 5%;
    }
    .serv-text{ 
        width: 90%;
    }
    .serv-text p{
        margin-bottom: 30px;
    }
    .services h2{
        font-size: 30px;
        margin-left: 5%;
    }
    
    /*----Секция Дилеры-----*/
    .dealer-cards{ /* расположение карточек в одну колонку по центру */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dealer-card{ /* отступ между карточками*/
        margin-top: 10px;
    }
    .dealers h2{
        font-size: 30px;
        margin-left: 5%;
    }
    .dealers p{
        margin-left: 5%;
    }
    /*----Секция Реклама----- */
    .add{
        padding-top: 0;
    }
    .add-line{ /* размещение элементов в одну колонку*/
        flex-direction: column;
    }
    .line-img img{
        width: 100%;
    }
    /* изменение положения подписей на изображениях*/
    .model{
        font-size: 15px;
        padding: 15px 10px 18px 11px;
    }
    .model-left{
        left: 100px;
        bottom: 50px;
    }
    .model-right{
        left: 60px;
        bottom: 50px;
    }
    .add-line h3{
        font-size: 25px;
        /* margin-top: 75px; */
        margin-bottom: 25px;
        margin-left: 5%;
        width: 90%
    }
    /* стилизация текста*/
    .add-line p{
        margin-left: 5%;
    }
    .add-line-right p{
        margin-left: 5%;
        margin-right: 0;
    }
    .show-more{ /* изменение кнопки*/
        font-size: 15px;
        padding: 20px 50px 20px 35px;
        margin-left: 15%;
        margin-top: 20px;
    }

    /*---------Footer---------*/
    .footer-block{ /* изменение расположение логотипа и строки ввода в одну колонку */
        flex-direction: column;
    }
    .footer-logo h3{ /* изменение логотипа*/
        font-size: 25px;
        text-align: center;
    }
    .footer-search input[type=text]{ /* изменение строки ввода */
        width: 80%;
        height: 50px;
        margin-top: 15px;
    }
    .footer-search{ /* сентрирование input'а*/
        display: flex;
        justify-content: center;
    }
    .footer-links{ 
        flex-wrap: wrap; /* перемещение части блока со ссылками на следующую линию */
        margin-left: 5%;
        margin-right: 5%;
    }
    



}