/*------Страница Каталога товаров-----*/
.card{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.card:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
.border h2{
	font-size: 30px;
	margin-bottom: 30px;
}

/*-------оформление вкладок каталога с помощью Radio button----*/
/* сокрытие переключателя radiobutton */
.pc-tab > input, .pc-tab section > div {
	 display: none;
}
/* отображение содержимого влкадок выбранной вкладки*/
 #tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked ~ section .tab3 {
	 display: block;
}
.pc-tab { /* позиционирование блока с содержимым страницы  */
	 width: 100%;
	 max-width: 1200px;
     margin: 100px 20px;
	 /* max-width: 700px;
	 margin: 0 auto; */
}
.pc-tab h1{ /* оформление заголовка страницы*/
    margin-bottom: 30px;
    font-size: 40px;
}
/* навигационная панель вкладок*/
.pc-tab nav{ 
    margin: 0;
}
 .pc-tab ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 .pc-tab ul li label {
	 float: left;
	 padding: 15px 25px;
	 border: 1px solid #ddd;
	 border-bottom: 0;
	 background: #f6f5f4;
	 color: #444;
}
.pc-tab ul li:last-child  label{
    border-top-right-radius: 3px;
}
.pc-tab ul li:first-child  label{
    border-top-left-radius: 3px;
}
 .pc-tab ul li label:hover {
	 background: #ddd;
}
 .pc-tab ul li label:active {
	 background: #fff;
}
 .pc-tab ul li:not(:last-child) label {
	 border-right-width: 0;
}
/* оформление содержимого вкладок*/
 .pc-tab section {
	 clear: both;
     width: 100%;
}
.pc-tab section .border {
	 padding: 20px;
	 width: 100%;
	 border: 1px solid #ddd;
	 background: #fff;
	 /* line-height: 1.5em;
	 letter-spacing: 0.3px;
	 color: #444; */
}
 /* .pc-tab section div h3 {
	 margin: 0;
	 letter-spacing: 1px;
	 color: #34495e;
} */
/*задание оформления заголовка активной вкладки */
 #tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked ~ nav .tab3 label {
	 background: #fff;
	 color: #111;
	 position: relative;
}
/*сокрытие нижней рамки при соединении навигационных вкладок с их содержимым*/
 #tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after, #tab3:checked ~ nav .tab3 label:after {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 2px;
	 width: 100%;
	 background: #fff;
	 left: 0;
	 bottom: -1px;
}


@media screen and (max-width: 765px){
	.pc-tab{
        margin: 0;
    }
    .pc-tab section .border {
        padding: 5px;
        width: 100%;
        border: 1px solid #ddd;
        background: #fff;
   }
   .pc-tab section .border h2{
        font-size: 30px;
   }
   .pc-tab ul li label{
	padding: 5px 10px;
   }
   .pc-tab h1{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
   }
   

}
 